[mysqld]
datadir=/home/sasindu/Documents/Projects/UOK Sithu Timetable/KLN_Timetable/backend/.mariadb/data
socket=/home/sasindu/Documents/Projects/UOK Sithu Timetable/KLN_Timetable/backend/.mariadb/run/mysqld.sock
pid-file=/home/sasindu/Documents/Projects/UOK Sithu Timetable/KLN_Timetable/backend/.mariadb/run/mysqld.pid
port=3307
bind-address=127.0.0.1
log-error=/home/sasindu/Documents/Projects/UOK Sithu Timetable/KLN_Timetable/backend/.mariadb/log/mariadb.log
skip-name-resolve
